<app-barranav-principal></app-barranav-principal>
<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <h1 class="fw-bold">Perfil de Usuario</h1>
        </div>
    </div>
    <!--Información del Alumno-->
    <div class="row mt-5">
        <div class="col">
            <h3>Información Alumno</h3>
            <app-perfil-alumno></app-perfil-alumno>
        </div>
    </div>
    <!--Información del alumno como Tutor-->
    <div class="row mt-5">
        <div class="col">
            <h3>Información Tutoría de Pares</h3>
            <app-perfil-tutor></app-perfil-tutor>
        </div>
    </div>
</div>